In [4]:
# Creating pandas Series
import pandas as pn

data = [1, 2, 3, 4, 5]
labels = ['a', 'b', 'c', 'd', 'e']
pn.Series(data = data, index = labels)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [5]:
# Using Dictionaries
import pandas as pn

d = {'k1':'value 1', 'k2':'value 2'}

pn.Series(d)

k1    value 1
k2    value 2
dtype: object

In [6]:
# Selectin values

S1 = pn.Series([1, 2, 3, 4], ['Alex', 'Juan', 'Mary', 'Ana'])
S1

Alex    1
Juan    2
Mary    3
Ana     4
dtype: int64

In [8]:
S['Alex']

1

In [14]:
# Operations
# Series match with indexes to sum
people1 = pn.Series([100, 230, 200],['Alex', 'Juan', 'Peter'])
people2 = pn.Series([400, 230, 200, 200],['Juan', 'Peter', 'Alex', 'Mary'])
people1 + people2

Alex     300.0
Juan     630.0
Mary       NaN
Peter    430.0
dtype: float64