In [1]:
# Import pandas for reas JSON files
import pandas as pd

names = pd.read_json("names.json")
names

   Age     ID       Name
0    8  10001  Alexander
1   15  10002      Angel
2   25  10003       Anna
3   10  10004        Ben
4   12  10005       John
5   20  10006       Lisa