# Creating pandas Series

In [1]:
import pandas as pd

data = [1, 2, 3, 4, 5]
labels = ['a', 'b', 'c', 'd', 'e']
pd.Series(data = data, index = labels)

a    1
b    2
c    3
d    4
e    5
dtype: int64

## Using Dictionaries for Pandas Series

In [2]:
d = {'k1':'value 1', 'k2':'value 2'}
pd.Series(d)

k1    value 1
k2    value 2
dtype: object

### Selecting values

In [3]:
S1 = pd.Series([1, 2, 3, 4], ['Alex', 'Juan', 'Mary', 'Ana'])
S1

Alex    1
Juan    2
Mary    3
Ana     4
dtype: int64

In [4]:
S1['Alex']

1

## Operations with Pandas Series

In [5]:
# Series match with indexes to sum
people1 = pd.Series([100, 230, 200],['Alex', 'Juan', 'Peter'])
people2 = pd.Series([400, 230, 200, 200],['Juan', 'Peter', 'Alex', 'Mary'])
people1 + people2

Alex     300.0
Juan     630.0
Mary       NaN
Peter    430.0
dtype: float64