# Creating pandas Series

In [1]:
import pandas as pd

data = [1, 2, 3, 4, 5]
labels = ['a', 'b', 'c', 'd', 'e']
pd.Series(data = data, index = labels)

a    1
b    2
c    3
d    4
e    5
dtype: int64

## Using Dictionaries for Pandas Series

In [2]:
d = {'k1':'value 1', 'k2':'value 2'}
pd.Series(d)

k1    value 1
k2    value 2
dtype: object

### Selecting values

In [3]:
S1 = pd.Series([1, 2, 3, 4], ['Alex', 'Juan', 'Mary', 'Ana'])
S1

Alex    1
Juan    2
Mary    3
Ana     4
dtype: int64

In [4]:
S1['Alex']

1

## Operations with Pandas Series

In [5]:
# Series match with indexes to sum
people1 = pd.Series([100, 230, 200],['Alex', 'Juan', 'Peter'])
people2 = pd.Series([400, 230, 200, 200],['Juan', 'Peter', 'Alex', 'Mary'])
people1 + people2

Alex     300.0
Juan     630.0
Mary       NaN
Peter    430.0
dtype: float64

In [6]:
people_10 = people1 * 10
people_10

Alex     1000
Juan     2300
Peter    2000
dtype: int64

In [7]:
values = pd.Series([100, 200, 300, 100, 200, 500, 300, 250, 500])
values

0    100
1    200
2    300
3    100
4    200
5    500
6    300
7    250
8    500
dtype: int64

In [8]:
values.size

9

In [9]:
values.count()

9

In [10]:
values.unique()

array([100, 200, 300, 500, 250], dtype=int64)

In [11]:
values.value_counts()

300    2
200    2
100    2
500    2
250    1
dtype: int64

In [12]:
values.head(2)

0    100
1    200
dtype: int64

In [13]:
values.tail(3)

6    300
7    250
8    500
dtype: int64

In [14]:
values[2]

300

In [15]:
values[[0, 1, 3]]

0    100
1    200
3    100
dtype: int64

## Getting Access with iloc, loc and ix

In [16]:
people = pd.Series([31, 28, 27, 29, 33, 30], index = ['Alex', 'Juan', 'Peter', 'Mary', 'Ana', 'John'])
people

Alex     31
Juan     28
Peter    27
Mary     29
Ana      33
John     30
dtype: int64

### Using iloc

In [17]:
people['Peter']

27

In [18]:
people.iloc[2]

27

In [19]:
people.iloc[[2,0]]

Peter    27
Alex     31
dtype: int64

### Using loc

In [20]:
people['Peter']

27

In [21]:
people.loc['Peter']

27

In [22]:
people.loc[['Peter', 'Alex']]

Peter    27
Alex     31
dtype: int64

In [23]:
people.loc[['Peter', 'Alex', 'Random']]

C:\Users\faben\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

Peter     27.0
Alex      31.0
Random     NaN
dtype: float64

## Reindex

In [24]:
serie1 = pd.Series([100, 30, 50, 200, 450])
serie1

0    100
1     30
2     50
3    200
4    450
dtype: int64

In [25]:
serie1.index = ['a','b','c','d','e']
serie1

a    100
b     30
c     50
d    200
e    450
dtype: int64

In [26]:
serie1.reindex(['f','g','h','i','j'])

f   NaN
g   NaN
h   NaN
i   NaN
j   NaN
dtype: float64