In [5]:
import pandas as pd

data = pd.DataFrame({'A': ['A0', 'A1', 'A2','A3', 'A2', 'A8', 'A3', 'A2', 'A8'],
                     'B': ['B0', 'B1', 'B2', 'B1', 'B1', 'B0', 'B1', 'B2', 'B1']},
                      index=['K0', 'K1', 'K2', 'K3', 'K4', 'K5', 'K6', 'K7', 'K8'])

In [6]:
data

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
K3  A3  B1
K4  A2  B1
K5  A8  B0
K6  A3  B1
K7  A2  B2
K8  A8  B1

In [8]:
# Shows the first 5 rows
data.head()

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
K3  A3  B1
K4  A2  B1

In [9]:
# Using unique function
data['A'].unique()

array(['A0', 'A1', 'A2', 'A3', 'A8'], dtype=object)

In [10]:
# Using len function
len(data['A'].unique())

5

In [11]:
# Using nunique instead of len and unique
left['A'].nunique()

5

In [12]:
# Better way to count values instead of groupby
data['A'].value_counts()

A2    3
A8    2
A3    2
A0    1
A1    1
Name: A, dtype: int64