In [1]:
# Import pandas for reading Excel files
import pandas as pd

people = pd.read_excel("people.xlsx", sheet_name = 0)
people

      ID       Name  Age        Job
0  10001       John   10  Developer
1  10002  Alexander   20  Developer
2  10003   Milhouse   10        NaN
3  10004       Bart   10        NaN
4  10005       Lisa    8        NaN
5  10006      Homer   39   Security
6  10007      Burns   78       Boss
7  10008      Marge   37       Home
8  10009     Maggie    1        NaN

In [2]:
people.to_excel("people2.xlsx", sheet_name = 'other sheet')